<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
  <body>

  <h1>Hi There!</h1>

    <form action="/madlib">
      Name a person: <input type="text" name="person"><br>
      Name a color: <input type="text" name="color"><br>
      Name a noun: <input type="text" name="noun"><br>
      Name an adjective: <input type="text" name="adjective"><br>
      Name a gerund_verb: <input type="text" name="gerund_verb"><br>
      Name a place: <input type="text" name="place"><br>
      Name an adverb: <input type="text" name="adverb"><br>
      Name a verb: <input type="text" name="verb"><br>
      Select one:<br>
      <input type="radio" id="selection" name="selection" value="Yes">
      <label for="selection">Yes</label>
      <input type="radio" id="selection" name="selection" value="No">
      <label for="selection">No</label>
      <input type="submit">
    </form>

  </body>
</html>
